<%= stylesheet_link_tag 'about', :media => "all" %>

  <body>
   <!--   First block Start   -->
  <section id="first-block">
    <div class="title-container">
      <h1>バラエティが好き</h1>
      <h3> このサイトは自分が好きなバラエティ番組を共有するサイトです｡</h3>
    </div>
      </section>
  <!--   First block End   -->
　<!--   Second block Start   -->
<section id="second-block">
    <p class="tukaikata">
      使用方法
    </p>
  </section>
<section id="third-block">
    <p class="info-title">
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>①アカウントを作成しましょう</b>
      </p>

      <p class="info-text">
        <b>②プロフィールを編集しましょう</b>
      </p>

      <p class="info-text">
        <b>③見た番組のレビューを書き込む</b>
      </p>

      <p class="info-text">
        <b>④５段階で評価する</b>
      </p>

      <p class="info-text">
        <b>⑤他の人の投稿に反応しよう</b>
      </p>

    </div>
  </section>
  <!--   Second block End   -->
   <!--   Third block Start   -->
  <section id="forth-block">
    <p class="events-title">
      SHOWEDY とは
    </p>
    <div class="event-container">
      <div class="event">
        <p class="event-name">
          <span>もっとテレビバラエテイに需要を増やしたい
          </span>
          <br>
          今日動画配信サイトの普及によりテレビを見る若者が<br>
          減ってきていると思います。しかし世の中には面白いのに<br>
          まだ見つかってない番組も多く存在します。<br>
          このサイトはそんな番組も注目されるように<br>
          口コミを共有できるサイトでありたいと思っています。<br>
          様々な意見をご投稿ください。<br>
          また｢MY PAGE｣に自己紹介を載せることができます。<br>
          好みのｼﾞｬﾝﾙや好きなMC､アナウンサー､放送局など<br>
          好きなことを沢山紹介しましょう！<br>
        </p>
      </div>
    </div>
  </section>
  <!--   Third block End   -->
  <!--  コンテンツはここまで  -->
  
    <footer>
       
        <small>© 2020 大内田祐太朗</small>  
    </footer>
  </body>
</html>
